<p id="notice"><%= notice %></p>

<p>
  <b>Key:</b>
  <%= @authorization.key %>
</p>

<p>
  <b>Token:</b>
  <%= @authorization.token %>
</p>


<%= link_to 'Edit', edit_authorization_path(@authorization) %> |
<%= link_to 'Back', authorizations_path %>
